<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div th:fragment="navbar">
	<div id="wrapper">
	      <div id="sidebar-wrapper">
	          <aside id="sidebar">
	              <ul id="sidemenu" class="sidebar-nav">
	                  <li>
	                      <a href="#">
	                          <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
	                          <span class="sidebar-title">Home</span>
	                      </a>
	                  </li>
	                  <li>
	                      <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-2">
	                          <span class="sidebar-icon"><i class="fa fa-users"></i></span>
	                          <span class="sidebar-title">Management</span>
	                          <b class="caret"></b>
	                      </a>
	                      <ul id="submenu-2" class="panel-collapse collapse panel-switch" role="menu">
	                          <li><a href="#"><i class="fa fa-caret-right"></i>Users</a></li>
	                          <li><a href="#"><i class="fa fa-caret-right"></i>Roles</a></li>
	                      </ul>
	                  </li>
	                  <li>
	                      <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-3">
	                          <span class="sidebar-icon"><i class="fa fa-newspaper-o"></i></span>
	                          <span class="sidebar-title">Blog</span>
	                          <b class="caret"></b>
	                      </a>
	                      <ul id="submenu-3" class="panel-collapse collapse panel-switch" role="menu">
	                          <li><a href="#"><i class="fa fa-caret-right"></i>Posts</a></li>
	                          <li><a href="#"><i class="fa fa-caret-right"></i>Comments</a></li>
	                      </ul>
	                  </li>
	                  <li>
	                      <a href="#">
	                          <span class="sidebar-icon"><i class="fa fa-database"></i></span>
	                          <span class="sidebar-title">Data</span>
	                      </a>
	                  </li>
	                  <li>
	                      <a href="#">
	                          <span class="sidebar-icon"><i class="fa fa-terminal"></i></span>
	                          <span class="sidebar-title">Console</span>
	                      </a>
	                  </li>
	              </ul>
	          </aside>            
	      </div>
	</div> 
</div>
</html>