
.login-container {
    float: none;
	border: 1px solid black;
	padding: 60px;
	border-radius: 5px;
	background: white;
	display: block; 
}

.admin-home-container {
	float: none;
	margin: 0 auto;
	margin-top: 50px;
	margin-left: 50px;
}

.auth-container {
	float: none;
	margin: 0 auto;
	margin-top: 50px;
}

.container {
	margin: 10px;
}

.labels {
  display: inline-block;
  text-align: right;
}

.forms-page-title {
	padding: 5px;
	background-color: white;
	padding-left: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.forms-page-container {
	background-color: white;
	padding: 20px;
	margin: 0 auto;
	float: none;
}

.login-titulo {
	color: white;
	text-align: center;
} 

.divider-line {
	background-color: #EAEAEB; 
	height: 1px; 
	width: 100%;
}

.validation-message {
	font-size: 12px;
	font-style: italic;
	color: red;
	margin-left: 5px;
}


.login-btn-sociais {
	margin-top: 20px;
}

.divider {
	background: #a6a6a6;
	height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-inverse .navbar-nav #user-profile {
    height: 50px;
    padding-top: 15px;
    padding-left: 58px;
}

.navbar-inverse .navbar-nav #user-profile img {
    height: 45px;
    width: 45px;
    position: absolute;
    top: 2px;
    left: 8px;
    padding: 1px;
}

#wrapper {
    padding-top: 50px;
    padding-left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

@media (min-width: 992px) {
    #wrapper {
        padding-left: 225px;
    }
}

@media (min-width: 992px) {
    #wrapper #sidebar-wrapper {
        width: 225px;
    }
}

#sidebar-wrapper {
    border-right: 1px solid #e7e7e7;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 225px;
    width: 0;
    height: 100%;
    margin-left: -225px;
    overflow-y: auto;
    background: #222222;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#sidebar-wrapper .sidebar-nav {
    position: absolute;
    top: 0;
    width: 225px;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar-wrapper .sidebar-nav li {
    text-indent: 0;
    line-height: 45px;
}

#sidebar-wrapper .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #428bca;
}

.sidebar-nav li li {
	background: #4E4E4E;
    color: #fff !important;
}

#sidebar-wrapper .sidebar-nav li a .sidebar-icon {
    width: 45px;
    height: 45px;
    font-size: 14px;
    padding: 0 2px;
    display: inline-block;
    text-indent: 7px;
    margin-right: 10px;
    color: #fff;
    float: left;
}

#sidebar-wrapper .sidebar-nav li a .caret {
  position: absolute;
  right: 23px;
  top: auto;
  margin-top: 20px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse {
    list-style: none;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0;
    padding: 0;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li i {
    margin-right: 10px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li {
    text-indent: 15px;
}

@media (max-width: 992px) {
    #wrapper #sidebar-wrapper {
        width: 45px;
    }
    #wrapper #sidebar-wrapper #sidebar #sidemenu li ul {
        position: fixed;
        left: 45px;
        margin-top: -45px;
        z-index: 1000;
        width: 200px;
        height: 0;
    }
}

.sidebar-nav li:first-child a {
    color: #fff !important;
}

.sidebar-nav li:nth-child(2) a {
    color: #fff !important;
}

.sidebar-nav li:nth-child(3) a {
    color: #fff !important;
}

.sidebar-nav li:nth-child(4) a {
    color: #fff !important;
}

.sidebar-nav li:nth-child(5) a {
    color: #fff !important;
}

.sidebar-nav li:nth-child(6) a {
    color: #fff !important;
}
