<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>stuffs-Admin - Adicionar novo Professor</title>
	<link rel="stylesheet" type="text/css" th:href="@{/../css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/../css/bootstrap-social.less}" />
	<link rel="stylesheet" type="text/css" th:href="@{/../css/font-awesome.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/../css/bootstrap-social.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/../css/style.css}" />
	
</head>

<body>

	<div th:include="shared/header :: header">Global Header</div>
    <div th:include="shared/navbar :: navbar">Global Navbar</div>
    
    <div id="wrapper">
    
	    <div id="page-content-wrapper" role="main" class="container">
	    	
	    	<form class="form-horizontal">
				<fieldset>
				
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="nome">Nome</label>  
				  <div class="col-md-6">
				  <input id="nome" name="nome" type="text" placeholder="Nome" class="form-control input-md">
				    
				  </div>
				</div>
				
				<!-- Multiple Radios (inline) -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="sexo">Sexo</label>
				  <div class="col-md-4"> 
				    <label class="radio-inline" for="sexo-0">
				      <input type="radio" name="sexo" id="sexo-0" value="masculino" checked="checked">
				      Masculino
				    </label> 
				    <label class="radio-inline" for="sexo-1">
				      <input type="radio" name="sexo" id="sexo-1" value="feminino">
				      Feminino
				    </label>
				  </div>
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="dataNascimento">Data de Nascimento</label>  
				  <div class="col-md-4">
				  <input id="dataNascimento" name="dataNascimento" type="text" placeholder="dd/mm/aaaa" class="form-control input-md">
				    
				  </div>
				</div>
				
				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="titulacaoMaxima">Titulação Máxima</label>
				  <div class="col-md-4">
				    <select id="titulacaoMaxima" name="titulacaoMaxima" class="form-control">
				      <option value="graduação">Graduação</option>
				      <option value="especializado">Especializado</option>
				      <option value="mestrado">Mestrado</option>
				      <option value="doutorado">Doutorado</option>
				    </select>
				  </div>
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="rua">Endereço</label>  
				  <div class="col-md-6">
				  <input id="rua" name="rua" type="text" placeholder="Endereço" class="form-control input-md">
				    
				  </div>
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="numero">Número</label>  
				  <div class="col-md-2">
				  <input id="numero" name="numero" type="text" placeholder="Número" class="form-control input-md">
				    
				  </div>
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="bairro">Bairro</label>  
				  <div class="col-md-4">
				  <input id="bairro" name="bairro" type="text" placeholder="Bairro" class="form-control input-md">
				    
				  </div>
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="complemento">Complemento</label>  
				  <div class="col-md-8">
				  <input id="complemento" name="complemento" type="text" placeholder="Complemento" class="form-control input-md">
				    
				  </div>
				</div>
				
				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="Cidade">Cidade</label>
				  <div class="col-md-4">
				    <select id="Cidade" name="Cidade" class="form-control">
				      <option value="rj">Rio de Janeiro</option>
				      <option value="sp">São Paulo</option>
				    </select>
				  </div>
				</div>
				
				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="pais">País</label>
				  <div class="col-md-4">
				    <select id="pais" name="pais" class="form-control">
				      <option value="br">Brasil</option>
				      <option value="eua">Estados Unidos</option>
				    </select>
				  </div>
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="telefone">Telefone</label>  
				  <div class="col-md-4">
				  <input id="telefone" name="telefone" type="text" placeholder="Telefone" class="form-control input-md">
				    
				  </div>
				</div>
				
				</fieldset>
				</form>
	    	
	    	</div>
    	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	
	<script src="https://buttons.github.io/buttons.js"></script>
	<script th:href="@{/../js/bootstrap.min.js}" type="text/javascript"></script>
  	<script th:href="@{/../js/jquery-3.2.1.min.js}" type="text/javascript"></script>
  	<script th:href="@{/../js/scripts.js}" type="text/javascript"></script>
</body>
</html>